/* main */
main {}
/* main - 1 visual */
main .visual {
    position:relative;
    overflow: hidden;
    height: 100vh;
}
main .visual .text {
    position: absolute;
    width: 100%;
    top:35%;
    text-align: center;
    padding: 50px;
    z-index: 200;
}
main .visual .text p {
    font-size: 2.369rem;
    color: #fff;
    letter-spacing: -0.02em;
}
main .visual .text h1 {
    margin: 20px 0;
    font-size: 3.157rem;
    font-weight: 700;
    color: #ff83bd;
}
main .visual .text .link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
main .visual .text .link a {
    background: rgba(0,0,0,0.5);
    font-size: 1.777rem;
    font-weight: 500;
    color: #fff;
    width: 270px;
    padding: 15px 0;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s;
}
main .visual .text .link a:hover {
    background: #ff83bd;
    color: #fff;
}
main .visual .text .link a:first-child {margin-right: 10px;}
main .visual video {
    width: 100%;
    /* 화면크기 조정 시 비디오 중심축 맞추기 */
    /* 필수조건 ★ 비디오의 부모가 vh or px 높이 설정 준비! */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* 방법3 절대크기값 */
    /* width: 1920px; */
}
/* 와이드 비율의 video 화면 전체 배치 시 여백해결법 */
/* 1. 반응형웹 @media 특정해상도마다 비디오의 크기 설정값 변경 제일 많이 사용 */
/* 2. 가장 큰 데스크탑 기준으로 너비를 100%보다 크게 설정하고 넘치게 하는 방법 */
/* 3. 상대크기가 아닌 절대크기값(px) 크기를 설정해서 화면해상도에 영향을 받지 않는 방법 */
main .adver_bnr {
    background: url(../images/bnr.png)no-repeat;
    background-size: cover;
    height: 300px;
    padding-top: 70px;
}
main .adver_bnr .txt {
    max-width: 1200px; margin:0 auto;
    display: flex;
    flex-flow:column nowrap;
}
main .adver_bnr .txt p {
    font-size: 1.777rem;
}
main .adver_bnr .txt h2 {
    font-size: 3.157rem;
    font-weight: 700;
    margin:20px 0 24px;
}
main .adver_bnr .txt .link {
    font-size: 1.333rem;
}
main .adver_bnr .txt .link a {
    border:2px solid #aaa;
    width: 150px;
    padding: 12px 0;
    display: inline-block;
    border-radius: 10px;
    color:#5c5c5c;
    text-align: center;
    margin-right: 5px;
    transition: all 0.5s;
}
main .adver_bnr .txt .link a:hover {
    background: #000;
    color:#fff;
    border:2px solid #000;
}
/* online */
main #online_service {
    background: url(../images/service_bg1.jpg) no-repeat;
    background-position:right 65%;
    background-size: 80%;
    padding-top: 100px;
    margin-top: 100px;
}
main #online_service .txt {
    background: #fff;
    max-width: 827px;
    padding: 105px 130px;
}
main #online_service .txt h1,main #shop_service .txt h1 {
    font-size: 3.157rem;
    font-weight: 700;
}
main #online_service .txt p,main #shop_service .txt p {
    font-size:1.333rem;
    line-height: 35px;
    margin:40px 0;
}
main #online_service .txt .service_link,main #shop_service .txt .store_link {
    display: inline-block;
    background: #000;
    padding:20px 50px;
    color:#fff;
    font-size: 1.333rem;
    border-radius: 10px;
}
main #online_service .txt .service_link:hover ,main #shop_service .txt .store_link:hover {
    background: #ff83bd;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
main #shop_service {
    background: url(../images/service_bg2.jpg) no-repeat;
    background-size: 80%;
    padding-top: 100px;
    margin-top: 100px;
    display: flex; flex-flow:row-reverse;
}
main #shop_service .txt {
    background: #fff;
    max-width: 827px;
    padding: 105px 130px;
    text-align: right;
}
main #shop_service .txt h1 {}
main #shop_service .txt p {}
main #shop_service .txt .store_link {}